body {
  font: caption;
}
.flex-block{
  display: flex;
}
.hidden {
  display: none !important;
}

.table {
  width: auto !important;
}
.title{
  margin-bottom: 0px;
}
.todo-item {
  background: none;
  padding: 0.2rem;
  margin: 0;
  cursor: pointer;
  font-size: 1rem;
}

.todo-item:nth-child(even) {
  background: #f4f4ff;
}

.todo-item:hover {
  background: #d8d8d8
}

.clear{
  align-self: center;
  margin-top: 20px;
  margin-left: 20px;
  
}
.add-log__input {
  min-width: 100px;
  text-align: center;
  margin-bottom: 5px;
}
.add-log__form{
  display: flex;
  flex-direction: column;
}
.add-log__btn{
  min-width: 200px;
  align-self: flex-end;
}

.store__table{
  min-width: 300px;
  max-height: 220px;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.store__table tr td:first-child{
  text-align: left;
}
.store__table tr td{
  text-align: center;
}

.store__table::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.store__list{
min-width: 250px;
max-height: 220px;
margin-left: 20px;
overflow: auto;
-ms-overflow-style: none;
scrollbar-width: none;
}
.store__list tr td:first-child{
  text-align: left;
}
.store__list tr td{
  text-align: center;
}
.store__list tr th{
  text-align: center;
}

.store__list::-webkit-scrollbar {
  width: 0;
  height: 0;
}